.texto-azul {
    color: #242f51;
}
.texto-negrito{
    font-weight: bold;
}
#titulo-inicio {
    font-size: 80px;
}

#texto-cinza {
    color: #616368;
}
#subtitulo-cinza {
    font-size: 20px;
}
.botao-azul:hover {
    padding: 12px 25px;
    background-color: #fcae61;
    border: none;
    border-radius: 30px;
    color: #fff;
}    
.botao-azul {
        padding: 12px 25px;
        background-color: #2500f9;
        border: none;
        border-radius: 30px;
        color: #fff;
 }
 .botao-branco {
    padding: 12px 24px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    color: #2500f9;
 }
 #inicio {
    background-image: url('../img/Vector_Smart_Object2.png'), url('../img/Layer_5.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
 }
#segunda {
    padding: 100px 0px;
}
#terceira {
    padding: 100px 0px;
}
.motivos-itens {
    padding: 0 20px;
}
.motivos-l {
    margin-top: 70px;
}   
#quarta {
    padding: 100px 0px;
}
.accordion-button {
    background-color: #f5f6fa;
    color: #242f51;
    font-weight: bold;
    padding: 20px 50px;
}
.accordion-button:not(.collapsed) {
    background-color: #f5f6fa;
    color: #242f51;
    box-shadow: none;
}
.accordion-body {
    background-color: #f5f6fa;
    color: #616368;
    padding: 25px 50px;
}
.accordion-item {
    margin-top: 20px;
    border: none;
    
}
#quinta {
    padding: 100px;
}
#rodape {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #242f51;
    margin-top: -40px;
}
#menu-rodape {
    padding: 30px;
    margin-left: -25px;
}
#menu-rodape li{
    display: inline-block;
    color: #fff;
    padding: 0 25px;
    
}
#marcas {
    margin-top: 30px;
    margin-left: -25px;
}
#marcas li{
    display: inline-block;
    color: #616368;
    font-size: 30px;
    padding: 0 15px;

}
#marcas li:hover {
    color: #fff;
}
.direitos {
    color: #616368;
    margin-top: 60px;
}
.coluna-deslocada {
    margin-top: -40px;
    
}